.title-box {
    width: 340px;
    height: 200px;
    background-color: #faebd7;
    border-radius: 10px;
}
  
.header {
    color: navy;
    font-family: cursive;
    text-align: center;
    font-size: xx-large;
    margin: auto;
}
  
.subheader {
    color: red;
    text-align: center;
    padding-bottom: 2vh;
    font-size: large;
    margin: auto;
}

.title {
    height: 200px;
    margin: 20px;
}

.logo {
    width: 50%;
    margin: 10px;
    border-radius: 10px;
    margin-left: 90px;
}